.tarif-bir {
    color: rgb(163, 28, 28);
    font-size: 50px;
}

.tarif-iki {
    color: rgb(163, 28, 28);
    font-size: 50px;
}

.tarif-uc {
    color: rgb(163, 28, 28);
    font-size: 50px;
}

.tarif-dort {
    color: rgb(163, 28, 28);
    font-size: 50px;
}

.tarif-bes {
    color: rgb(163, 28, 28);
    font-size: 50px;
}